---
layout: gallery
---

<div class="gallery">
    <div style="grid-column: 1 / 10">
        {% include photo.html
        href="https://www.flickr.com/photos/199253089@N03/53240099318"
        src="https://live.staticflickr.com/65535/53240099318_3f26f6eacc_h.jpg"
        alt="windswept grass"
        %}
    </div>
    <div style="grid-column: 10 / 13">
        {% include photo.html
        href="https://www.flickr.com/photos/199253089@N03/53238928542"
        src="https://live.staticflickr.com/65535/53238928542_7381cf87e0_h.jpg"
        alt="footsteps"
        %}
    </div>
    <div style="grid-column: 1 / 13">
        {% include photo.html
        href="https://www.flickr.com/photos/199253089@N03/53240098763"
        src="https://live.staticflickr.com/65535/53240098763_b1705f29cf_h.jpg"
        alt="forest hills"
        %}
    </div>
    <div style="grid-column: 1 / 8">
        {% include photo.html
        href="https://www.flickr.com/photos/199253089@N03/53240164229"
        src="https://live.staticflickr.com/65535/53240164229_2c544ace3b_h.jpg"
        alt="flowers"
        %}
    </div>
    <div style="grid-column: 1 / 8">
        {% include photo.html
        href="https://www.flickr.com/photos/199253089@N03/53240282890"
        src="https://live.staticflickr.com/65535/53240282890_627fc18276_h.jpg"
        alt="crater lake"
        %}
    </div>
    <div style="grid-row: 3 / 5; grid-column: 8 / 13">
        {% include photo.html
        href="https://www.flickr.com/photos/199253089@N03/53240283420"
        src="https://live.staticflickr.com/65535/53240283420_755de9bca5_h.jpg"
        alt="redwood"
        %}
    </div>
    <div style="grid-column: 1 / 9">
        {% include photo.html
        href="https://www.flickr.com/photos/199253089@N03/53240282945"
        src="https://live.staticflickr.com/65535/53240282945_87be86f78c_h.jpg"
        alt="clovers"
        %}
    </div>
    <div style="grid-column: 9 / 13">
        {% include photo.html
        href="https://www.flickr.com/photos/199253089@N03/53240164309"
        src="https://live.staticflickr.com/65535/53240164309_95d9e74299_h.jpg"
        alt="plants"
        %}
    </div>
    <div style="grid-column: 1 / 5">
        {% include photo.html
        href="https://www.flickr.com/photos/199253089@N03/53239799611"
        src="https://live.staticflickr.com/65535/53239799611_2517d44cfa_h.jpg"
        alt="folklore"
        %}
    </div>
    <div style="grid-column: 5 / 13">
        {% include photo.html
        href="https://www.flickr.com/photos/199253089@N03/53240099338"
        src="https://live.staticflickr.com/65535/53240099338_f2d4d1dc08_h.jpg"
        alt="road and grass"
        %}
    </div>
    <div style="grid-column: 1 / 13">
        {% include photo.html
        href="https://www.flickr.com/photos/199253089@N03/53240098883"
        src="https://live.staticflickr.com/65535/53240098883_f0ff977025_h.jpg"
        alt="boats"
        %}
    </div>
</div>
