<div id="profile">
	<img id="avatar" src="/assets/avatar.png">
	<div class="profile-details">
		<!-- TODO parameterize -->
		<h1 id="profile-name">Mark Gross</h1>
		<div class="icon-group">
			<!-- TODO parameterize -->
			<a href="https://github.com/MarkusG"><img class="profile-icon" src="/assets/svg/github.svg"></a>
			<a href="https://www.linkedin.com/in/mark-gross-a73266173/"><img class="profile-icon" src="/assets/svg/linkedin.svg"></a>
			<a href="/assets/pubkey.txt"><img class="profile-icon" src="/assets/svg/key.svg"></a>
		</div>
	</div>
</div>
