<div id="profile">
	<img id="avatar" src="{{ site.you.avatar }}">
	<div class="profile-details">
		<h1 id="profile-name">{{ site.you.name }}</h1>
		<div class="icon-group">
			{% if site.you.github %}
			<a href="{{ site.you.github }}"><img class="profile-icon" src="assets/svg/github.svg"></a>
			{% endif %}
			{% if site.you.linkedin %}
			<a href="{{ site.you.linkedin }}"><img class="profile-icon" src="assets/svg/linkedin.svg"></a>
			{% endif %}
			{% if site.you.pubkey %}
			<a href="{{ site.you.pubkey }}"><img class="profile-icon" src="assets/svg/key.svg"></a>
			{% endif %}
		</div>
	</div>
</div>
