<div id="sidebar">
	<img id="avatar" src="/assets/avatar.png">
	<!-- TODO parameterize -->
	<h1>Mark Gross</h1>
	<h2>contact</h2>
	<div class="icon-group">
		<!-- TODO parameterize -->
		<a href="https://github.com/MarkusG"><img class="sidebar-icon" src="/assets/svg/github.svg"></a>
		<a href="https://www.linkedin.com/in/mark-gross-a73266173/"><img class="sidebar-icon" src="/assets/svg/linkedin.svg"></a>
		<a href="/assets/pubkey.txt"><img class="sidebar-icon" src="/assets/svg/key.svg"></a>
	</div>
</div>
