// site-wide rules

body {
	background-color: #eee;
	font-family: "Libre Baskerville, serif";
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

h1 {
	font-size: 3rem;
	margin-top: 0;
}

h2 {
	font-size: 2rem;
	margin-bottom: 0;
}

a {
	color: black;
}

img {
	display: block;
	max-width: 100%;
	max-height: 400px;
	margin: auto;
}

blockquote {
	border-left: 4px solid #bbb;
	margin-left: 0;
	padding-left: 1em;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	margin: 1.12em 0;
}

th, td {
	border: 1px solid black;
	padding: 4px 8px;
}

p {
	text-align: justify;
}

iframe {
	max-width: 100%;
}

pre.highlight {
	overflow-x: auto;
	background-color: #ddd;
	padding: 8px;
}

.post {
	margin-bottom: 1.5em;
}

.post-title {
	font-weight: normal;
	font-size: 1.5rem;
	margin-bottom: 0;
}

.post-date {
	font-weight: normal;
	margin-top: .5rem;
}

.container {
	width: 1200px;
	max-width: 90%;
	margin: 1rem auto 0 auto;
}

#back-to-top {
	display: block;
	text-align: center;
	margin-top: 4em;
}

@media screen and (max-width: 768px) {
	.container {
		margin-bottom: 2rem;
	}

	#index-content {
		text-align: center;
	}

	.post {
		margin-bottom: 2em;
	}
}

// nav.html

nav {
	background-color: #fff;
}

nav a {
	text-decoration: none;
}

#nav-container {
	width: 1200px;
	max-width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-top: 1rem;
}

#nav-title {
	font-size: 2rem;
}

#nav-links {
	list-style: none;
	display: flex;
}

#nav-links li {
	padding: 0 8px;
	font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
	#nav-container {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	#nav-title {
		font-size: 3rem;
	}

	#nav-links {
		padding: 0;
	}

	#nav-links li a {
		padding: 1em 0;
		margin: 0 .5em;
	}
}

// profile.html

#avatar {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

#profile-name {
	margin-top: .6rem;
	margin-bottom: .6rem;
	font-size: 1.6rem;
}

#profile p {
	word-break: break-all;
}

.icon-group {
	display: flex;
	gap: .7rem;
}

.profile-icon {
	width: 24px;
}

@media screen and (max-width: 768px) {
	#profile {
		text-align: center;
	}

	#avatar {
		width: 300px;
		height: 300px;
	}

	#profile-name {
		display: none;
	}

	.icon-group {
		margin-top: 2rem;
		justify-content: center;
		gap: 3em;
	}

	.profile-icon {
		width: 48px;
	}
}

// index.html

#index-container {
	display: flex;
	gap: 2rem;
}

#profile {
	min-width: 200px;
}

#index-content h1 {
	margin-bottom: 2rem;
}

#index-content hr {
	border-bottom: 0;
}

#view-all-posts {
	margin-top: 2.4rem;
}

#view-all-posts a {
	font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
	#index-container {
		display: flex;
		flex-direction: column;
	}
}

// archive.html

.archive {
	text-align: center;
}

.archive-year {
	margin-bottom: -.5rem;
}

.archive-year:not(:first-child) {
	margin-top: 2rem;
}

@media screen and (max-width: 768px) {
	.archive-year {
		font-size: 4rem;
	}
}

// post.html

.post-content {
	margin-bottom: 50vh;
}
